#header {
	text-align: center;
	background-color: #FAD180;
	font-family: "Courier New", "Comic Sans MS", Georgia;
}

#albumCover {
	display: inline-block;
	float: right;
	margin-right: 900px;
	position: relative;
}

#results {
	display: inline-block;
	position: relative;
}